In [4]:
import pandas as pd
import matplotlib.pyplot as plt

# Data Extraction

In [5]:
data_transactions = pd.read_csv('../../transaction_report.csv')
data_transactions.head()

,date,stock,strategy,operation,price,size,capital,profit_gross,profit_net
0,2021-01-20,MSFT,SMAStrategySMA_period10,BUY,208.891809,48,100604.289944,NaN,NaN
1,2021-01-20,GOOGL,SMAStrategySMA_period10,BUY,90.633691,112,100604.289944,NaN,NaN
2,2021-01-21,AAPL,SMAStrategySMA_period10,BUY,130.247929,78,100889.085115,NaN,NaN
3,2021-01-28,GOOGL,SMAStrategySMA_period10,SELL,90.863465,-112,101253.350314,NaN,NaN
4,2021-01-28,GOOGL,SMAStrategySMA_period10,TRADE_CLOSE,NaN,0,101253.350314,25.734647,25.734647

In [ ]:
data_transactions= data_transactions[data_transactions['operation']=='TRADE_CLOSE']
strategies=data_transactions['strategy'].unique()
columns = ['strategy', 'total_trades', 'profitable_trades', 'losing_trades', 'win_rate_pct', 'total_profit', 'avg_profit', 'max_profit', 'max_loss']
resume_list = []
resume_strat = pd.DataFrame()
for strat in strategies:
    data_strat = data_transactions[data_transactions['strategy'] == strat]
    
    total_trades = len(data_strat)
    
    
    if total_trades > 0:
        profitable_trades = len(data_strat[data_strat['profit_net'] > 0])
        losing_trades = len(data_strat[data_strat['profit_net'] <= 0])
        
        win_rate = (profitable_trades / total_trades) * 100
        
        total_profit = data_strat['profit_net'].sum()
        avg_profit = data_strat['profit_net'].mean()
        max_profit = data_strat['profit_net'].max()
        max_loss = data_strat['profit_net'].min()
        
        resume_list.append({
            'strategy': strat,
            'total_trades': total_trades,
            'profitable_trades': profitable_trades,
            'losing_trades': losing_trades,
            'win_rate_pct': round(win_rate, 2), 
            'total_profit': total_profit,
            'avg_profit': avg_profit,
            'max_profit': max_profit,
            'max_loss': max_loss
        })
resume_strat = pd.DataFrame(resume_list, columns=columns)
resume_strat.head()

,strategy,total_trades,profitable_trades,losing_trades,win_rate_pct,total_profit,avg_profit,max_profit,max_loss
0,SMAStrategySMA_period10,80,0,0,0.0,0.0,NaN,NaN,NaN
1,SMAStrategySMA_period30,35,0,0,0.0,0.0,NaN,NaN,NaN
2,GoldenCrossStrategySMA_short_period10SMA_long_...,5,0,0,0.0,0.0,NaN,NaN,NaN

# Data visualization